<h1>Tips for you</h1>
<div class="card-container">
{{#each tips}}
  <div class="card">

    <div class="img-box">
      <img class="card-img" src="{{imageUrl}}" alt="image of the tip" />
    </div>
    <br />
    <p>
      Title:
      {{this.title}}
      <br />
      Creator:
      {{this.userId.username}}
      <br />
      Level:
      {{this.level}}
      <br />
      Category:
      {{this.category}}
      <br />
      Description:
      {{this.description}}
      <br />
          </p>

<div class= "btn-row" >
      <a class= "a-button" href="/tips/{{this._id}}">More details</a>

      {{#if isCurrentUser}}
        <a type="button" class= "a-button" href="/tips/{{this._id}}/edit">Edit</a>
        <form action="/tips/{{this._id}}/delete" method="POST">
          <button type="button" class="a-button">Delete</button>
        </form>
      {{/if}}


  </div>
    </div>

{{else}}
  <p class="white-par">There are no tips yet!</p>
{{/each}}
</div>