<h1>{{title}}</h1>

<hr />

<!--
<h3>Description:</h3>
<p>{{description}}</p>    HINT. -->

<h3>Creator:</h3>
<p>{{userId.username}}</p>

<hr />

<h3>Category:</h3>
<p>{{category}}</p>

<hr />

<h3>Level:</h3>
<p>{{level}}</p>

<hr />

<h3>Description:</h3>
<p>{{description}}</p>

<a href="/tips/{{_id}}/edit">Edit</a>

<form action="/tips/{{_id}}/delete" method="POST">
  <button>Delete</button>
</form>

<!-- IMAGE BONUS. -->

<a href="/tips">Back</a>